body {
  background-image: url("https://i.imgur.com/7LRedmW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#logopic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 2px black solid;
  margin-top: 20px;
  margin-bottom: 20px;

}

.btn {
  background-color: #B4DFE5;
  color: black;
  font-family: verdana;
  font-size: 12px;
  box-shadow: 5px 5px 1px;
  border-radius: 20%;
  margin: 15px;
}

.row{
  max-width: 85%;
  background-color: #f8cfba;
}
