body {
  background-image: url("https://i.imgur.com/7LRedmW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#logopic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 2px black solid;
  margin-top: 20px;

}
/* Create two columns that floats next to each other */
.column1 {
  font-family: verdana;
  font-size: 10px;
  font-weight: bold;
  float: left;
  width: 20%;
  padding: 2px;
  background: #F4976C;
  border: 1px solid black;
  display: inline;
}

.column2{
  font-family: verdana;
  font-size: 14px;
  font-weight: normal;
  float: right;
  width: 75%;
  padding: 10px;
  background: #FBE8A6;
  border: 1px solid black;

}

.mainBox{
  margin-left: 200px;
  margin-right: 200px;
}

/*Enter Chat Message and Message Display*/

.column2 .messageField {
  text-align: left;
  width: 1100px;
  height: 500px;
  overflow: auto;
}

#msgInput {
  width: 1100px;
  margin-top: 20px;


}

/*User box and buttons*/

.User {
  border: 2px black solid;

}

.btn {
  background-color: #B4DFE5;
  color: black;
  font-family: verdana;
  font-size: 12px;
  box-shadow: 5px 5px 1px;
  border-radius: 20%;
  margin: 15px;
}
